.container{
  margin-left: 0%;
  margin-right: 0%;
}

.logo-container img{
  height: 50px;
}

md-toolbar:not(.md-menu-toolbar) {
  background-color: #082356e8;
  color: rgba(255,255,255,0.87);
}


*:focus {
  outline: none;
}

md-sidenav{
  width: 400px;
}

.footer{
  height: 5%;
  background-color: #082356e8;
  color: white;
  padding: 5px 20px 5px 20px;
}