<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom md-center-tabs="true">
      <md-tab label="Home">
        <md-content class="md-padding">
            <div ng-include="'components/home/home.html'">
            </div> 
        </md-content>
      </md-tab>
      <md-tab label="About">
        <md-content class="md-padding">
          <div ng-include="'components/about/about.html'">
          </div>
        </md-content>
      </md-tab>
       <md-tab label="Calendar">
        <md-content class="md-padding">
            <div ng-include="'components/calendar/calendar.html'">
            </div> 
        </md-content>
      </md-tab>
       <md-tab label="Get Involved">
        <md-content class="md-padding">
            <div ng-include="'components/getInvolved/getInvolved.html'">
            </div> 
        </md-content>
      </md-tab>
      <md-tab label="Finance">
        <md-content class="md-padding">
          <div ng-include="'components/finance/finance.html'">
          </div>
        </md-content>
      </md-tab>
       <md-tab label="Contact">
        <md-content class="md-padding">
            <div ng-include="'components/contact/contact.html'">
            </div> 
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>